.sidbar{
    border: 2px solid black;
    margin:0 2% 2% 2%;
    padding-top: 10px;
}

.user-img{
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.activity-time, .extra-info-container, .break-time, .break-btn-box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 2% 4%;
    margin: 5%;
    border-radius: 5px;
    background-color: beige;
}

.break-btn{
    height: 50px;
    border-radius: 50%;
    margin: 3%;
    background-color: azure;
}
.btn{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-color: blanchedalmond;
    font-size: large;
    font-weight: 700;
    margin: 10px;
}