.user-info div{
    display: flex;
}
.user-img{
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.activity-time, .body-info-container, .break-time, .break-btn-box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 2% 4%;
    margin: 5%;
    border-radius: 5px;
    background-color: beige;
}
.body-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.break-btn{
    height: 50px;
    border-radius: 50%;
    margin: 3%;
    background-color: azure;
}