.card-container{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: aliceblue;
    
}
.Container-background{
    background-color: beige;
}